@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}