@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'Inter', sans-serif;
}